<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE }}">
<head>
  <meta charset="UTF-8">
  <title>Fruchtfliegen</title>
  <meta name="keywords" content="Fruchtfliege"/>
  <meta name="description" content="Fruchtfliegen schauen gut aus"/>
  <meta name="author" content="David Ruß, Bernhard Koschicek-Krombholz"/>

  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/node_modules/plotly.js/dist/plotly.js"></script>
</head>
<body>
<header>
</header>
<main>
  {% block content %}{% endblock %}
</main>
<footer>

</footer>
</body>

</html>
